img#navLogo{
    width: 150px;
    height: auto;
}

img#imgUsuario{
    width: 40px;
    height: auto;
}

#navRegistro{
    font-size: small;
    color: blue;
}

#navBarLogado{
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}