#cardEdit{
    border-width: 2px;
    border-color: black;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

h2{
    color: #ffc400;
    text-shadow: 2px 2px black;

}

#btnEscolher{
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    border-width: 2px;
    border-color: black;
    text-shadow: 1px 1px black;
}

#container{
    padding-right: 15%;
    padding-left: 15%;
}

#table{
    background-image: url(../../img/textura2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#colQtd{
    text-align: center;
    vertical-align: center;
    width: 100px;
}